<!-- PROGRESS -->
<div class="grax_tm_progress_part">
  <div class="container">
    <div class="part_inner">
      <div class="left wow fadeInLeft" data-wow-duration="1.5s">
        <h3>I have high skills in video editing, animation, and production</h3>
        <p>I am committed to creating visually captivating animations and high-quality video content by utilizing advanced techniques and tools to ensure that every project exceeds expectations.</p>
      </div>
      <div class="right wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
        <div class="kioto_progress">
          <div class="progress_inner" data-value="95">
            <span><span class="label">Video Editing</span><span class="number">95%</span></span>
            <div class="background"><div class="bar"><div class="bar_in" style="width: 95%"></div></div></div>
          </div>
          <div class="progress_inner" data-value="90">
            <span><span class="label">Animation</span><span class="number">90%</span></span>
            <div class="background"><div class="bar"><div class="bar_in" style="width: 90%"></div></div></div>
          </div>
          <div class="progress_inner" data-value="85">
            <span><span class="label">3D Modeling</span><span class="number">85%</span></span>
            <div class="background"><div class="bar"><div class="bar_in" style="width: 85%"></div></div></div>
          </div>
          <div class="progress_inner" data-value="80">
            <span><span class="label">Color Grading</span><span class="number">80%</span></span>
            <div class="background"><div class="bar"><div class="bar_in" style="width: 80%"></div></div></div>
          </div>
          <div class="progress_inner" data-value="75">
            <span><span class="label">Motion Graphics</span><span class="number">75%</span></span>
            <div class="background"><div class="bar"><div class="bar_in" style="width: 75%"></div></div></div>
          </div>
          <div class="progress_inner" data-value="90">
            <span><span class="label">VFX (Visual Effects)</span><span class="number">90%</span></span>
            <div class="background"><div class="bar"><div class="bar_in" style="width: 90%"></div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /PROGRESS -->
