

    	<div class="grax_tm_hero creative" id="home">
	<div class="bg">
  <div class="image" data-img-url="<%= asset_path('img/slider/hero2.png') %>"></div>
  <div class="overlay"></div>
</div>
		<div class="content">
			<div class="container">
				<div class="details" data-animation="toTop"> <!-- Animation Values: toTop, toRight, scale, rotate -->
					<h3 class="fn_animation name">Nouman Ghouri</h3>
                <span class="fn_animation job">Creative Video Editor &amp; Motion Graphics Specialist</span>
				</div>
				<div class="grax_tm_down shape" data-skin="light">
					<div class="line_wrapper">
						<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="my_shape">
			<%# <img class="svg" src="img/svg/divider1.svg" alt="" /> %>
            			<a class="svg" href="#"><%= image_tag("img/svg/divider1.svg", alt: "Dark Logo") %></a>
		</div>
	</div>